# python ignores
*.py[co]
environment.yml

# ide files
.project
.pydevproject

# temp files
*~
\#*
\.\#*
*.swp

# OS files
\.DS_Store
.cache/
__pycache__/

# Egg that gets created with 'pip install -v -e .'
*.egg-info/
.eggs/
