# python ignores
*.py[cod]
__pycache__/
environment.yml

# ide files
.project
.pydevproject
.vscode

# temp files
*~
\#*
\.\#*
*.swp

# OS files
\.DS_Store
.cache/

# Egg that gets created with 'pip install -v -e .'
*.egg-info/
eggs/
*.egg

# Sphinx doc builds
docs/_build/
